// 客製bs4.1.1
// 必須
@import "../bootstrap/scss/functions";
@import "pages/variables";
@import "../bootstrap/scss/mixins";
//可選
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/forms";
// 可選通用類別
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/utilities/display";
@import "../bootstrap/scss/utilities/flex";
@import "../bootstrap/scss/utilities/spacing";
@import "../bootstrap/scss/utilities/text";
@import "../bootstrap/scss/utilities/sizing";
@import "../bootstrap/scss/utilities/position";


label{
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

//移除 input type = number 時的小箭頭
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}

//components
@import "components/mytool";
@import "components/item-card";

//共同區塊
@import "pages/layout";
//pages
@import "pages/index";
@import "pages/product";
@import "pages/login";
@import "pages/shopcart";
@import "pages/checkout";

