.item-card{
    display: flex;
    flex-direction: column;
    .item-body{
        border-right: 1px solid $second;
        border-left: 1px solid $second;
    }
    a{
        font-size: 24px;
        color: $main;
        font-weight: bolder;
    }
}

.item-image{
    height: 315px;
    position: relative;
    @include bg_center_norepeat;
    background-size: cover;
    @media (max-width: 768px) {
        height: 250px;
    }
    .item-tag{
        position: absolute;
        top: 0;
        left: 20px;
        background-color: $main;
        writing-mode: vertical-lr;
        letter-spacing: 5px;
        color: white;
        padding: 10px 5px 10px 5px;
    }
    .item-mark{
        position: absolute;
        top: 19px;
        right: 22px;
        font-size: 20px;
        color: $main;
        cursor: pointer;
    }
}



.item-body{
    color: $main;
    display: flex;
    align-items: center;
    li:first-child{
        border-right: 1px solid $second;
    }
    .item-name{
        text-align: center;
        margin-bottom: 0; 
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: normal;
        font-size: 20px;
    }
    .item-price{
        font-size: 20px;
        text-align: right;
        display: block;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 10px;
    }
}