.cart-title{
    background: $second;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    color: $main;
    margin-bottom: 0;
    font-size: 24px;
    margin-bottom: 33px;
}

.cart-row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
   
    @include media-breakpoint-up(md) {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $second;
        &:last-of-type{
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 0px solid $second;
        }
    }

}

.cart-image{
    width: 150px;
    height: 106px;
    @include bg_center_norepeat;
    background-size: cover;
    margin-right: 16px;
    @include media-breakpoint-up(md) {
        width: 110px;
        height: 110px;
        margin-right: 39px;
    }
}

.cart-info{
    display: flex;
    color:$main;
    align-self: flex-start;
    flex-direction: column;
    @include media-breakpoint-up(md) {
        margin-right: 39px;
        align-self: center;
        flex-direction: row;
    }
}

.cart-item{
    display: flex;
    flex-direction: column;
    margin-right: 39px;
    .cart-item-name{
        font-size: 20px;
    }
    .cart-item-price{
        font-size: 16px;
    }
}

.cart-item-Numcontrol{
    display: flex;
    align-items: center;
    span,button{
        display: flex;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        color: $main;
        background: white;
    }
    button{    
        outline: none;
        border:none; 
        cursor: pointer;
        padding: 0px;
        transition: all .3s;
        &:hover{
            background: darken(white, 10%);
        }
    }
}

.cart-item-total{
    display: block;
    width: 100%;
    color: $main;
    font-size: 20px;
    text-align: right;
    font-weight: bolder;
    margin-top: 8.5px;
    margin-bottom: 30.5px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    border-bottom: 1px solid $second;
    border-top: 1px solid $second;
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        width: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 39px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: 0px solid $second;
        border-top: 0px solid $second;
    }
}

.cart-item-icon{
    display: none;
    @include media-breakpoint-up(md) {
        margin-left: auto;
        display: flex;
        align-items: center;
        color: $main;
        text-decoration: none !important;
        transition: all .3s;
        &:hover,&:focus{
            color: lighten($main,10%);
        }
    }
}


.cart-msg-box{
    padding: 0px 30px 16px 30px;
    color: $main;
    .cart-msg-title{
        background: $second;
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .cart-msg-total{
        font-size: 20px;
        font-weight: bolder;
    }

    @include media-breakpoint-up(md) {
        padding: 16px 18px 16px 18px;
        color:white;
        background: $main;
        &.lightmode{  
            padding: 0;
            border: 1px solid $second;
            background-color: white;
            color: $dontcare;
        }
        .cart-msg-title{
            padding-top: 0px;
            color: white;
            background: none;
            border-bottom: 1px solid $second;
            &.lightmode{
                background: $second;
                padding-top: 16px;
                color: $dontcare;
            }
        }
        .cart-msg-total{
            color:white;
            &.lightmode{  
                color: $dontcare;
            }
        }
    }

}

.checkout-btn{
  @include btn;
}